/*
///////////////////////////////////////////////////////
//                                                   //
//  Author: Momcilo Milic                            //
//  Web: www.MMkernel.com                            //
//  Email: momcilo.milic@gmail.com                   //
//  Github: https://github.com/mmkernel              //
//  Linkedin: https://www.linkedin.com/in/mmkernel/  //
//                                                   //
///////////////////////////////////////////////////////
*/

@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #dcdce4;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #25272e;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.yourNameDiv {
  display: flex;
  align-items: center; justify-content: center; flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: #25272e;
  z-index: 999 !important;
}
.yourNameDiv input {
  width: 75%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  color: #1f2847;
  font-size: 14px;
}
.yourNameDiv button {
  width: 75%;
}
.heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.welcome {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}
.scoringTitle {
  margin-bottom: 10px !important;
}
label {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}
select {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  color: #1f2847;
  font-size: 14px;
}
.start-screen .btn {
  margin-top: 50px;
}
.hide {
  display: none;
}
.timer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.timer .progress {
  position: relative;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #3f4868;
}
.timer .progress .progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #2c4c90, #253a66);
  transition: 1s linear;
}
.timer .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.question-wrapper .number {
  color: #a2aace;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.question-wrapper .number .total {
  color: #576081;
  font-size: 18px;
}
.question-wrapper .question {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.answer-wrapper .answer {
  width: 100%;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}
.answer .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.answer .checkbox i {
  color: #fff;
  font-size: 10px;
  opacity: 0;
  transition: all 0.3s;
}
.answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
  background-color: #0c80ef;
  border-color: #0c80ef;
}
.answer.selected .checkbox i {
  opacity: 1;
}
.answer.correct {
    border-color: #0cef2a;
}
.answer.wrong {
  border-color: #fc3939;
}
.question-wrapper,
.answer-wrapper {
  margin-bottom: 50px;
}
.btn {
  width: 100%;
  height: 60px;
  background: #3d8fdc;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn:hover {
  background: #0a6bc5;
}
.btn:disabled {
  background: #576081;
  cursor: not-allowed;
}
.btn.next {
  display: none;
}
.restart {
  height: 35px;
  border-radius: 5px;
  margin-top: 5px;
}
.scoring-list{
  margin-bottom: 15px;
}
.tableScoringList {
  border-collapse: collapse;
  color: white;
  margin-bottom: 15px;
  overflow-y: auto;
  max-height: 250px;
  display: block;
}
.tableScoringList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0c80ef;
  padding: 10px;
  min-width: 150px;
  color: white;
}
.tableScoringList td, .tableScoringList th {
  border: 1px solid #cfcfcf;
  padding: 5px;
}
.tableScoringList tr:nth-child(even){background-color: #41434b;}
.tableScoringList tr:hover {background-color: #09467f;}

.end-screen .score {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}
.score .score-text {
  color: #a2aace;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 120px;
}

.copyright {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: 5px;
  border-radius: 0 0 10px 10px;
  background-color: #25272e;
  bottom: 0;
  font-size: 12px;
  color: #ccc;
  font-family: sans-serif;
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
}
.copyright a { color: #ccc; text-decoration: none;}

@media (max-width: 468px) {
  .container {
    min-height: 96vh;
    max-width: 100%;
    border-radius: 0;
  }
  .answer-wrapper .answer {
    height: 80px;
  }
  .tableScoringList th {
    min-width: 100px;    
  }
  .tableScoringList {
    max-height: 550px;
  }
}
